
body{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}
.navbar{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}
h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}
