
{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<br>
<br>
<br>


<div class="container">
  <div class="row">
    {% for neighbourhood in neighbourhoods %}
    <div class="col-md-4" style="">

      <div class="w3-card" style="width:100%; overflow:hidden;">
        <header class="w3-container w3-light-grey">
          <hr>
          <h4>{{ neighbourhood.name }}</h4>
          <p class='article-content'>location: {{ neighbourhood.location }}</p>
        </header>
        <br>
        <div class="w3-container">
          <img src="{{ neighbourhood.image.url }}" alt="image" style="width:100%;">
        </div>
        <footer class="w3-container">
          <br>
          <a href="{%url 'detail' neighbourhood.id %}" style="text-decoration:none;"><button class="btn btn-outline-success center-block"">Join</button></a>
          <br>
        </footer>
      </div>
      <br><br><br><br>


    </div>
    {%endfor%}
  </div>

</div>
