{%extends 'base.html'%}
{%load bootstrap3%}
{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Neighbourhood</title>
    {{form.media}}
</head>

<body>
  {%block content%}
  <form action="{% url 'addneighbourhood' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form neighbourform %}
      <!-- <a href="{% url 'home' %}"><button type="submit" class=" btn-outline-success btn-lg"> Upload </button></a> -->
    <input type="submit" class=" btn-outline-success btn-lg" value="Upload">


  </form>
  {%endblock%}

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>
